# Dependencies
node_modules/

# Environment
.env
.env.local

# Prisma / SQLite
*.db
*.db-journal

# Uploads
uploads/*
!uploads/users/
!uploads/products/
uploads/users/*
uploads/products/*
!uploads/users/.gitkeep
!uploads/products/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Build
dist/
build/
